<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-white">
    <%= render 'shared/nav' %>
    <main class="grid grid-cols-12 gap-4 place-items-center p-4 md:p-16 bg-gradient-to-r from-slate-800 to-zinc-700">
      LOGIN
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
