<div class="grid grid-cols-12 gap-4 place-items-center p-4 md:p-16">
  <div class="col-span-12 md:col-span-6 p-4">
    <%= image_tag('home.svg', class: "w-full shadow-md", alt: "Imagem home") %>
  </div>
  
  <div class="col-span-12 mt-4 text-center md:col-span-6 md:order-first md:text-left">
    <p class="text-sm sm:text-base ">My name is</p>
    <h1 class="font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl">Cristiano Souza</h1>
    <p class="text-sm sm:text-base ">Fullstack developer in training</p>
    <button class="bg-yellow-600 w-40 h-10 mt-4 rounded-md hover:bg-yellow-300 font-bold">Contact me</button>
  </div>
</div>

<div class="grid grid-cols-12 gap-4 place-items-center p-4 md:p-16">
  <div class="w-60 col-span-12 p-4 md:col-span-6">
    <%= image_tag('perfil.jpg', class: "w-full rounded-full", alt: "Imagem perfil") %>
  </div>
  <div class="col-span-12 p-4 md:col-span-6 md:w-full">
    <h1 class="text-center text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl p-2 md:text-left">About</h1>
    <p class="text-justify p-2 text-sm sm:text-base ">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Nulla odio suscipit autem. Inventore quae aperiam molestiae
      iusto iste excepturi sapiente, sint voluptas, perferendis minus
      illum architecto, at commodi nemo. Vitae?
    </p>
    <div class="flex p-2 gap-8 w-full ">
      <button class="bg-yellow-600 p-2 w-40  rounded-sm hover:bg-yellow-300 font-bold text-sm sm:text-base ">Linkedin</button>
    </div>
  </div>
</div>

<div class="grid grid-cols-12 gap-4 p-4 md:p-16">
  <h1 class="col-span-12 font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center">Skills</h1>
  <div class="col-span-12 md:col-span-6 p-4 md:w-96">
    <p class="text-justify text-sm sm:text-base ">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Repellat autem sit eius fugiat, voluptas incidunt perferendis 
      aliquam voluptate nisi, porro doloremque similique a. Officia 
      fugit cum atque praesentium sequi aliquam.
    </p>
  </div> 
  <div class="col-span-12 md:col-span-6 gap-4 flex items-center justify-center p-4">
    <div class="">
      <%= image_tag('icon-html.svg', alt: "Imagem perfil") %>
    </div>
    <div class="">
      <%= image_tag('icon-css.svg', alt: "Imagem perfil") %>
    </div>
    <div class="">
      <%= image_tag('icon-js.svg', alt: "Imagem perfil") %>
    </div>
    <div class="">
      <%= image_tag('figma_logo.svg', alt: "Imagem perfil") %>
    </div>
    <div class="w-16">
      <%= image_tag('ruby.svg', alt: "Imagem perfil") %>
    </div>
    <div class="w-40">
      <%= image_tag('rails.svg', alt: "Imagem perfil") %>
    </div>    
  </div>
</div>

<div class="grid grid-cols-12 gap-4 md:gap-8 text-white p-4 md:p-16">
  <h1 class="font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center col-span-12">Education</h1>        

  <div class="col-span-12 md:col-span-6 lg:col-span-3 gap-4 w-full p-8 bg-black bg-opacity-50 rounded-lg">
    <h2 class="text-sm sm:text-base ">Programas de trilhas</h2>
    <hr class="border-yellow-600 border-2">
    <p class="mt-4 text-justify text-sm sm:text-base ">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Eum cumque impedit iure quas quidem facilis consequatur
      delectus aliquid voluptatum dicta voluptatem ad minima
      nihil nulla, eos ducimus illo corporis sint!
    </p>
    <div class="flex flex-col p-2 mt-4 gap-2 w-full text-xs justify-center">
      <button class="bg-yellow-600 p-2 w-full rounded-sm hover:bg-yellow-300 font-bold text-sm sm:text-base ">Certificate</button>
      <button class="bg-yellow-600 p-2 w-full rounded-sm hover:bg-yellow-300 font-bold text-sm sm:text-base ">Certificate</button>
    </div>
  </div>
  <div class="col-span-12 md:col-span-6 lg:col-span-3 gap-4 w-full p-8 bg-black bg-opacity-50 rounded-lg">
    <h2 class="text-sm sm:text-base ">Programas de trilhas</h2>
    <hr class="border-yellow-600 border-2">
    <p class="mt-4 text-justify text-sm sm:text-base ">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Eum cumque impedit iure quas quidem facilis consequatur
      delectus aliquid voluptatum dicta voluptatem ad minima
      nihil nulla, eos ducimus illo corporis sint!
    </p>
    <div class="flex flex-col p-2 mt-4 gap-2 w-full text-xs justify-center">
      <button class="bg-yellow-600 p-2 w-full rounded-sm hover:bg-yellow-300 font-bold text-sm sm:text-base ">Certificate</button>
      <button class="bg-yellow-600 p-2 w-full rounded-sm hover:bg-yellow-300 font-bold text-sm sm:text-base ">Certificate</button>
    </div>
  </div>
  <div class="col-span-12 md:col-span-6 lg:col-span-3 gap-4 w-full p-8 bg-black bg-opacity-50 rounded-lg">
    <h2 class="text-sm sm:text-base ">Programas de trilhas</h2>
    <hr class="border-yellow-600 border-2">
    <p class="mt-4 text-justify text-sm sm:text-base ">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Eum cumque impedit iure quas quidem facilis consequatur
      delectus aliquid voluptatum dicta voluptatem ad minima
      nihil nulla, eos ducimus illo corporis sint!
    </p>
    <div class="flex flex-col p-2 mt-4 gap-2 w-full text-xs justify-center">
      <button class="bg-yellow-600 p-2 w-full rounded-sm hover:bg-yellow-300 font-bold text-sm sm:text-base ">Certificate</button>
      <button class="bg-yellow-600 p-2 w-full rounded-sm hover:bg-yellow-300 font-bold text-sm sm:text-base ">Certificate</button>
    </div>
  </div>
  <div class="col-span-12 md:col-span-6 lg:col-span-3 gap-4 w-full p-8 bg-black bg-opacity-50 rounded-lg">
    <h2 class="text-sm sm:text-base ">Programas de trilhas</h2>
    <hr class="border-yellow-600 border-2">
    <p class="mt-4 text-justify text-sm sm:text-base ">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Eum cumque impedit iure quas quidem facilis consequatur
      delectus aliquid voluptatum dicta voluptatem ad minima
      nihil nulla, eos ducimus illo corporis sint!
    </p>
    <div class="flex flex-col p-2 mt-4 gap-2 w-full text-xs justify-center">
      <button class="bg-yellow-600 p-2 w-full rounded-sm hover:bg-yellow-300 font-bold text-sm sm:text-base ">Certificate</button>
      <button class="bg-yellow-600 p-2 w-full rounded-sm hover:bg-yellow-300 font-bold text-sm sm:text-base ">Certificate</button>
    </div>
  </div>
         
</div>  